@charset "utf-8";

#wrap {
  width: 100%;
}

/* header */
#header {
  width: 100%;
  background-color: var(--bg1);
}

#header .headerWrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

#header .headerWrapper .logo {
  width: 20%;
  height: 100px;
  background-color: var(--bg1);
}

#header .headerWrapper .nav {
  width: 80%;
  height: 100px;
  background-color: var(--bg1);
}

/* slider */
#slider {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
}


/* contents */
#contents {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

#contents .tap {
  width: calc(100% / 3);
  height: 200px;
  background-color: var(--bg1);
}

#contents .banner {
  width: calc(100% / 3);
  height: 200px;
}

#contents .link {
  width: calc(100% / 3);
  height: 200px;
}


/* footer */
#footer {
  width: 100%;
  background-color: var(--bg2);
}

#footer .footerWrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

#footer .logo {
  width: 20%;
  height: 100px;
  background-color: var(--bg2);
}

#footer .nav-copyright {
  width: 80%;
}

#footer .nav-copyright .nav {
  width: 100%;
  height: 50px;
  background-color: var(--main);
}

#footer .nav-copyright .copyright {
  width: 100%;
  height: 50px;
  background-color: var(--bg1);
}