@charset "utf-8";

/* nav */
#footer .nav-copyright .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .nav-copyright .nav ul {
  display: flex;
}

#footer .nav-copyright .nav ul li {
  position: relative;
  padding: 0 20px;
}

#footer .nav-copyright .nav ul li:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 60%;
  background-color: #333;
}

#footer .nav-copyright .nav ul li a {
  font-size: 14px;
}

#footer .nav-copyright .nav ul li a:hover {
  text-decoration: underline;
}

/* copyright */
#footer .nav-copyright .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .nav-copyright .copyright p {
  font-size: 14px;
}

/* familysite */
#footer .familysite {
  padding: 0 30px;
  display: flex;
  align-items: center;
}

#footer .familysite select {
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

#footer .familysite select option {
  font-size: 12px;
}