@charset "utf-8";

/* logo */
#footer .logo {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

#footer .logo a {}

#footer .logo a img {
  filter: grayscale(1);
}

/* copyright */
#footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .copyright p {
  font-size: 14px;
}

/* familysite */
#footer .familysite {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .familysite select {
  width: 100%;
  padding: 5px;
  font-size: 12px;
}

#footer .familysite select option {
  font-size: 12px;
}