@charset "utf-8";

#wrap {
  width: 100%;
}

/* header */
#header {
  width: 100%;
  background-color: var(--bg1);
}

#header .headerWrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

#header .logo {
  width: 20%;
  height: 100px;
  background-color: var(--bg1);
}

#header .nav {
  width: 80%;
  height: 100px;
  background-color: var(--bg1);
}

/* slider */
#slider {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
}

/* contents */
#contents {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

#contents .notice {
  width: calc(100% / 3);
  height: 200px;
  background-color: var(--main);
}

#contents .gallery {
  width: calc(100% / 3);
  height: 200px;
  background-color: var(--main);
}

#contents .banner {
  width: calc(100% / 3);
  height: 200px;
}


/* footer */
#footer {
  width: 100%;
  background-color: var(--bg1);
}

#footer .footerWrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

#footer .nav-copyright {
  width: 80%;
}

#footer .nav-copyright .nav {
  width: 100%;
  height: 50px;
  background-color: var(--sub1);
}

#footer .nav-copyright .copyright {
  width: 100%;
  height: 50px;
  background-color: var(--sub2);
}

#footer .familysite {
  width: 20%;
  height: 100px;
  background-color: var(--main);
}